.connector {
    float: left;
    margin-top: 83px;
    margin-left: 19px;
    margin-right: 19px;
}

.connector img {
    height: 34px;
    vertical-align: bottom;
}

.arrow-2, .arrow-3 {
    margin-left: -8px;
}

.arrow {
    position: relative;
    z-index: 7;
}

.arrow-l {
    position: relative;
    bottom: 34px;
    z-index: 6;
}
