.banner-container {
    position: relative;
    z-index: 5;
}

.banner-container>img {
    width: 100%;
}

div.left {
    display: block;
    position: absolute;
    z-index: 6;
    height: 260px;
    width: 260px;
    /*border: solid 1px black;*/
    top: 85px;
    left: 180px;
}

div.right {
    display: block;
    position: absolute;
    z-index: 6;
    height: 260px;
    width: 260px;
    /*border: solid 1px black;*/
    top: 85px;
    right: 180px;
}

.right>img, .left>img {
    position: absolute;
    width: 130px;
}

.left>img {
    top: 30px;
    left: 75px;
}

.right>img {
    bottom: 30px;
    right: 75px;
}

.button {
    position: absolute;
    width: 150px;
    height: 60px;
}

.button>a, .button>div {
    display: block;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    padding: 19px 0px 23px 0px;
    text-align: center;
    text-decoration: none;
    /*letter-spacing: 8px;*/
    border: solid 1px #ffffff;
    border-radius: 10px;
    transition: background-color 200ms;
    cursor: pointer;
}

.left>div[class=button] {
    left: 65px;
    bottom: 30px;
}

.right>div[class=button] {
    right: 65px;
    top: 30px;
}

.left>div[class=button]>a:hover {
    background-color: #82bcd6;
}

.right>div[class=button]>div:hover {
    background-color: #64d268;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}