.modal {
    position: relative;
    z-index: 6;
    width: 1300px;
    height: 0px;
}

.modal-background {
    position: relative;
    width: 1300px;
    height: 432px;
    background-color: black;
    opacity: 0.6;
}

#cross {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    cursor: pointer;
}

#cross {
    opacity: 0.4;
    transition: opacity, transform;
    transition-duration: 200ms;
    /*transition-timing-function: ease-in-out;*/
}

#cross:hover {
    opacity: 1;
    transform: rotateZ(180deg);
}